<span class="bookmarklet">
  <a href='javascript:var match=location.href.match(".+/trello.com/board/[^/]+/([0-9a-f]+)");if(match){var redirect="<%= settings.baseURL %>/app#"+match[1];window.open(redirect);};'>Nice to have!</a>
</span>
