<% layout('layout') -%>
<% stylesheet('/css/site.css') -%>
<% stylesheet('/css/app.css') -%>
<% stylesheet('/css/bookmarklet.css') -%>

<% script('/js/d3.v3.min.js') -%>
<% script('/js/components/jquery/jquery.min.js') -%>
<% script('/js/components/jquery/jquery-migrate.min.js') -%>
<% script('/js/components/sammy/lib/min/sammy-0.7.4.min.js') -%>
<% script('/js/client_hack.js') -%>
<% script('/js/knockout-2.2.0.js') -%>

<% script('/js/model/nicetohave/privilegeLevel.js') -%>
<% script('/js/model/nicetohave/privilege.js') -%>
<% script('/js/model/nicetohave/outstanding.js') -%>
<% script('/js/model/nicetohave/comment.js') -%>
<% script('/js/model/nicetohave/card.js') -%>
<% script('/js/model/nicetohave/list.js') -%>
<% script('/js/model/nicetohave/board.js') -%>
<% script('/js/model/nicetohave/categorisation.js') -%>
<% script('/js/model/nicetohave/workingArea.js') -%>
<% script('/js/model/nicetohave/notifications.js') -%>
<% script('/js/model/nicetohave/navigator.js') -%>
<% script('/js/model/nicetohave/chooser.js') -%>
<% script('/js/view/nicetohave/categorisation.view.d3.js') -%>
<% script('/js/model/nicetohave/trello/trelloQueue.js') -%>
<% script('/js/appViewModel.js') -%>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Nice to have</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/app">The App</a></li>
                    </ul>

                    <ul class="nav pull-right">
                        <li><a href="https://github.com/mikemoraned/nicetohave-app">v<%= settings.version %></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <script type="text/html" id="popupWarningTemplate">
            <div class="alert alert-warn">
                <h4 data-bind="text: title"></h4>
                <p>
                    If you're not seeing a pop-up right now, you will need to allow this application to raise pop-ups.
                    You should see an icon in the address bar which looks something like one of these:
                <span>
                    <img src="/img/chrome_popup.png" />,
                    <img src="/img/firefox_popup.png" />
                </span>. Please click on the icon and allow popups from this website. Thanks!
                </p>

            </div>
        </script>

        <div class="notifications" data-bind="with: notifications">
            <div data-bind="template: { name: templateName, foreach: alerts }">

            </div>
        </div>

        <div class="chooser row" data-bind="with: chooser, visible: !navigator.atBoardId()">
            <div class="span12">
                <div id="chooser-help" class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h3>Getting started</h3>

                    There are two ways:

                    <ol>
                        <li>Choose a board from your <a class="trello" href="http://trello.com/">Trello list</a> then paste the URL below.</li>
                        <li><em>or</em>:
                            <ol>
                                <li>Drag the<%-partial('partials/bookmarklet')%>bookmarklet to your browsers bookmarks bar.</li>
                                <li>Visit a board on <a class="trello" href="http://trello.com/">Trello</a></li>
                                <li>Click on the bookmark, and you'll be brought back to this app.</li>
                            </ol>
                        </li>
                    </ol>

                </div>
            </div>

            <form class="span12 form-inline">
               <input class="input-xxlarge" data-bind="value: boardUrl, valueUpdate:'afterkeydown'" placeholder="Paste your the URL of your board here">
               <button type="button" class="btn btn-primary" data-bind="click: navigateTo, enable: navigable">Load board</button>
            </form>
        </div>

        <div data-bind="with: workingArea">
            <div class="row">
                <div class="span12">
                    <div id="workingArea-help" class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                        <h3>Getting started</h3>

                        <ol>
                            <li>If it's a private board, you'll be prompted to provide authentication.</li>
                            <li><p>Your lists will be loaded and you can then play with your lists and cards.</p>
                                <p>For example:
                                <ol>
                                    <li>Move some cards to where you want them to be in terms of importance and risk</li>
                                    <li>Select them</li>
                                    <li>Move them to the top</li>
                                </ol>
                                </p>
                            </li>
                            <li>No changes will be made until you hit Save.
                                <em>Note:</em> the app only currently saves the order in the list, not the categorisations,
                                but I'm <a href="https://trello.com/card/persist-categorisations-as-comments-e-g-nice-to-have-and-low-risk-load-and-use-to-choose-initial-position-on-area/50d4b39f3d7039c91b001237/11">working on it</a>.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span9">
                    <h2 class="span12" data-bind="text: board().name">  </h2>
                </div>
            </div>

            <div class="row">
                <form class="span12 well well-small form-actions form-inline">
                    <fieldset>
                        <select style="width: 30em" multiple="true" data-bind="options: board().lists, selectedOptions: selectedLists, optionsText: 'name', enable: board().lists().length > 0"></select>
                        <div class="pull-right">
                            <img src="img/ajax-loader.gif" data-bind="visible: $root.outstanding.count() > 0" />
                            <button type="submit" class="btn btn-primary" data-bind="click: saveEdits, enable: hasEdits">Save changes</button>
                            <button type="button" class="btn" data-bind="click: discardEdits, enable: hasEdits">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <svg viewBox="0 0 1200 600" width="100%" height="100%" preserveAspectRatio="xMinYMin meet">
                    <rect x="0"   y="0"   width="400" height="150" class="patch" />
                    <rect x="800" y="0"   width="400" height="150" class="patch" />
                    <rect x="400" y="150" width="400" height="150" class="patch" />
                    <rect x="0"   y="300" width="400" height="150" class="patch" />
                    <rect x="800" y="300" width="400" height="150" class="patch" />

                    <rect x="0" y="450" width="1200" height="30" class="patch title" />
                    <rect x="0" y="480" width="1200" height="120" class="patch uncategorized" />

                    <text x="15" y="145" style="font-size: 20px" class="risk" transform="rotate(-90 15 145)">
                        Low Risk
                    </text>

                    <text x="15" y="295" style="font-size: 20px" class="risk" transform="rotate(-90 15 295)">
                        Medium Risk
                    </text>

                    <text x="15" y="445" style="font-size: 20px" class="risk" transform="rotate(-90 15 445)">
                        High Risk
                    </text>

                    <text x="0" y="15" style="font-size: 20px" class="value">
                        Nice to Have
                    </text>

                    <text x="400" y="15" style="font-size: 20px" class="value">
                        Significant Business Value
                    </text>

                    <text x="800" y="15" style="font-size: 20px" class="value">
                        Critical
                    </text>

                    <text x="0" y="595" style="font-size: 20px">
                        Uncategorized
                    </text>

                    <g class="card-container" />
                    <g class="busy hide">
                        <rect x="0" y="0" width="1200" height="600" />
                        <image x="490" y="290" width="220" height="19"
                               xlink:href="/img/progress.gif" />
                    </g>

                </svg>
            </div>
        </div>


    </div>


<script type="application/javascript">

$(function() {
    var model = new nicetohave.AppViewModel();

    ko.applyBindings(model);

    model.run();
});

</script>
