<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-gb"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-gb"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-gb"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-gb"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nice to have</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <!-- You can also compile style.less to use regular css. Your apps will still work. -->
  <style type="text/css">body{padding-top:60px}.hidden{margin:20px;border:5px solid #a24c4c;background-color:red;padding:10px;width:400px;color:white;font-family:helvetica,sans-serif}</style>
  <style>
      .bookmarklet {
          border-radius: 7px;
          background-color: gray;
          padding: 3px;
          cursor: move;
          margin-left: 5px;
          margin-right: 5px;
      }

      .bookmarklet a, .bookmarklet a:hover, .bookmarklet a:visited {
          color: white;
          text-decoration: none;
          cursor: move;
      }
  </style>
  <link rel="stylesheet" type="text/css" href="/kickstrap.css">
</head>
<body>
<div id="sf-wrapper"> <!-- Sticky Footer Wrapper -->
  <!-- Prompt IE 6/7 users to install Chrome Frame. Remove this if you support IE 7-.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<!--! END KICKSTRAP HEADER -->


    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Nice to have</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/app">The App</a></li>
                    </ul>

                    <ul class="nav pull-right">
                        <li><a href="https://github.com/mikemoraned/nicetohave-app">v<%= settings.version %></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">

                <header class="hero-unit">
                    <hgroup>
                        <h1>Nice to have</h1>
                        <h2>A little bit of <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a>,
                            brought to <a href="http://trello.com/">Trello</a></h2>
                    </hgroup>
                </header>
            </div>

            <section class="row-fluid">
                <div class="span8">
                    <article>
                        <header>
                            <hgroup>
                                <h1>What is this?</h1>
                            </hgroup>
                        </header>

                        <p>This app brings some of the <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a> to <a href="http://trello.com/">Trello</a>.
                            If you have a big backlog (don't we all?) then I recommend giving <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a>,
                            and this <a <a href="/app">app</a>, a try.</p>
                    </article>

                    <article>
                        <header>
                            <hgroup>
                                <h1>What this is not</h1>
                            </hgroup>
                        </header>

                        <ul>
                            <li>
                                <p>This is not a replacement for <a href="http://trello.com/">Trello</a>. It would be super-fun to re-implement <a href="http://trello.com/">Trello</a>, but not a good use of my time. Instead this app tries to do
                                   the minimum it <em>needs</em> to do itself, and leaves the rest to <a href="http://trello.com/">Trello</a>.</p>
                                <p>This means that whenever you don't see a feature, it's likely <a href="http://trello.com/">Trello</a> already does it.</p>
                            </li>
                            <li>
                                <p>This is not planning poker, or any other estimation method. It's up to you to decide how to assign risk or estimates to tasks/features/whatever.
                                    This is just a way to visualise what you've decided, and then save your decisions back into <a href="http://trello.com/">Trello</a>.</p>
                            </li>
                        </ul>
                    </article>

                    <article>
                        <header>
                            <hgroup>
                                <h2>Getting Started</h2>
                            </hgroup>
                        </header>

                        <ol>
                            <li>Choose a board id, or install the bookmarklet to help you find one.</li>
                            <li>Go to <a href="/app">the App page</a> and put the id in, or let the bookmarklet take you there.</li>
                            <li>If it's a private board, you'll be prompted to provide authentication.</li>
                            <li>Your lists wil be loaded and you can play with your lists and cards.</li>
                            <li>No changes will be made until you hit Save.</li>
                        </ol>

                    </article>

                    <article>
                        <header>
                            <hgroup>
                                <h2>History</h2>
                            </hgroup>
                        </header>

                        <h3>In the beginning...</h3>

                        <p>I started using <a href="http://trello.com/">Trello</a> a lot at work and at home. Backlogs were created, and started to grow. I'd seen
                            <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a> work well in the past, so I suggested to a colleague that
                            we try it out. I was irked that we needed to write out the cards so that we could play it. I'm open to physical representations, but given we have the backlog in
                            <a href="http://trello.com/">Trello</a>, why can't we do it all online? So, "Nice to have" was born.
                        </p>

                        <h3>v0.0.1</h3>

                        <p>
                        I wrote a first version over <a href="http://blog.houseofmoran.com/post/39084311065/nice-to-have-v0-0000001">xmas</a> and started using it myself. Works, mostly, but very basic.
                        For instance, it doesn't remember the categorisations!
                        </p>

                        <h3>v<%= settings.version %></h3>

                        <p>
                            You're looking at it!
                        </p>

                    </article>

                </div>

                <aside class="span4 well">
                    <h4>Bookmarklet</h4>

                    <p>Drag <span class="bookmarklet">
                        <a href='javascript:var match=location.href.match(".+/trello.com/board/[^/]+/([0-9a-f]+)");if(match){var redirect="http://nicetohave.houseofmoran.com/app#"+match[1];location.href=redirect};'>Nice to have!</a>
                    </span> to your bookmarks and be redirected to <a href="/app">the app</a> when on <a href="http://trello.com/">trello.com</a>.
                    </p>

                    <h4>Features / Bugs?</h4>

                    <p>Have an idea for a feature, or found a bug? Please add it to my <a href="https://trello.com/board/nicetohavepublicboard/50d4b39f3d7039c91b001237">public Trello board</a>.</p>

                    <h4>Fork it!</h4>

                    <p>I can't guarantee I'll implement all (or any!) of your requests, so if you really want
                       to scratch that itch then feel free to <a href="https://github.com/mikemoraned/nicetohave-app">fork the source</a>.</p>

                </aside>
            </section>

        </div>
    </div>

  <!--! KICKSTRAP FOOTER -->
   <div class="hidden"><h1>No Stylesheet Loaded</h1><p><strong>Could not load Kickstrap.</strong>There are <a href="http://getkickstrap.com/docs/1.2/troubleshooting/#lessjs-errors">several common reasons for this error.</a></p></div>
  <div id="push"></div></div> <!-- sf-wrapper -->
  <footer class="container" id="footer">
	  <p>Built with <a href="http://getkickstrap.com">Kickstrap</a></p>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="Kickstrap/js/jquery-1.8.2.min.js"><\/script>');</script>
  <!-- Kickstrap CDN thanks to our friends at netDNA.com -->
  <script id="appList" src="//netdna.getkickstrap.com/1.2/Kickstrap/js/kickstrap.min.js"></script>
  <script>window.ks || document.write('<script id="appList" src="../Kickstrap/js/kickstrap.min.js"><\/script>')</script>
  <script>

  </script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37323701-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
