<% layout('layout') -%>
<% stylesheet('/css/site.css') -%>
<% stylesheet('/css/index.css') -%>
<% stylesheet('/css/bookmarklet.css') -%>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Nice to have</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/app">The App</a></li>
                        <li><a href="/history">History</a></li>
                    </ul>

                    <ul class="nav pull-right">
                        <li><a href="https://github.com/mikemoraned/nicetohave-app">v<%= settings.version %></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">

                <header class="hero-unit">
                    <hgroup>
                        <h1>Nice to have</h1>
                        <h2>A little bit of <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a>,
                            brought to <a href="http://trello.com/">Trello</a></h2>
                    </hgroup>
                </header>
            </div>

            <section class="row-fluid">
                <div class="span8">
                    <article>
                        <header>
                            <hgroup>
                                <h2>What this is</h2>
                            </hgroup>
                        </header>

                        <p>This app brings some of the <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a> to <a href="http://trello.com/">Trello</a>.
                            If you have a big backlog (don't we all?) then <a href="http://www.houseofmoran.com/">I</a> recommend giving <a href="http://en.wikipedia.org/wiki/Extreme_programming_practices#Commitment_phase">The Planning Game</a>,
                            and this <a <a href="/app">app</a>, a try.</p>
                    </article>

                    <article>
                        <header>
                            <hgroup>
                                <h2>What this is not</h2>
                            </hgroup>
                        </header>

                        <ul>
                            <li>
                                <p>This is not a replacement for <a href="http://trello.com/">Trello</a>. It would be super-fun to re-implement <a href="http://trello.com/">Trello</a>, but not a good use of <a href="http://www.houseofmoran.com/">my</a> time. Instead this app tries to do
                                   the minimum it <em>needs</em> to do itself, and leaves the rest to <a href="http://trello.com/">Trello</a>.</p>
                                <p>This means that whenever you don't see a feature, it's likely <a href="http://trello.com/">Trello</a> already does it.</p>
                            </li>
                            <li>
                                <p>This is not planning poker, or any other estimation method. It's up to you to decide how to assign risk or estimates to tasks/features/whatever.
                                    This is just a way to visualise what you've decided, and then save your decisions back into <a href="http://trello.com/">Trello</a>.</p>
                            </li>
                        </ul>
                    </article>

                    <article>
                        <header>
                            <hgroup>
                                <h2>Helping out</h2>
                            </hgroup>
                        </header>

                        <h4>Features / Bugs?</h4>

                        <p>Have an idea for a feature, or found a bug? Please add it to <a href="http://www.houseofmoran.com/">my</a> <a href="https://trello.com/board/nicetohavepublicboard/50d4b39f3d7039c91b001237">public Trello board</a>.</p>

                        <h4>Fork it!</h4>

                        <p><a href="http://www.houseofmoran.com/">I</a> can't guarantee I'll implement all (or any!) of your requests, so if you really want
                            to scratch that itch then feel free to <a href="https://github.com/mikemoraned/nicetohave-app">fork the source</a>.</p>

                    </article>

                </div>

                <aside class="span4">
                    <div class="alert alert-info">
                        <h3>Getting started</h3>

                        <p>Go the <a href="/app">app</a> page and follow the inline help which looks like this.</p>
                    </div>



                </aside>
            </section>

        </div>
    </div>
